@{
    var primaryColor = "#ff8c00"; // Laranja/Amarelo Forte
    var secondaryColor = "#000d3d"; // Azul Escuro/Quase Preto
}
<header class="w-100 fixed-top">
    <nav class="navbar navbar-expand-sm navbar-light bg-white ">

        <a class="navbar-brand" href="#" style="font-family: 'Arial Black', sans-serif; font-size: 1.5rem; font-weight: 900; color: @secondaryColor;">
            <span style="color: @primaryColor;">Bank</span>More
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ml-auto">
                
            </ul>
        </div>
    </nav>
</header>